package ${package}.${moduleName}.convert;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.xjzhang.common.BaseController;
import com.xjzhang.common.wrapper.BaseWrapper;
import com.xjzhang.common.wrapper.ResWrapper;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;
import org.springframework.beans.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import org.springframework.util.Assert;
import org.springframework.web.bind.annotation.*;

import java.util.List;
import java.util.ArrayList;

import ${package}.${moduleName}.model.${className}Dto;
import ${package}.${moduleName}.model.${className}Vo;
import ${package}.${moduleName}.model.${className};

/**
 * ${comments} bean 转换
 *
 * @Author ${author}
 * @email ${email}
 * @date ${datetime}
 */

public class ${className}Convert {

    /**
    * entity -> vo
    * @return
    */
    public static  ${className}Vo entity2Vo(${className} ${classObjectName}) {
        if (${classObjectName} ==null){
            return null;
        }
            ${className}Vo  ${classObjectName}Vo = new  ${className}Vo();
        BeanUtils.copyProperties(${classObjectName}, ${classObjectName}Vo);

        return ${classObjectName}Vo;
    }

    /**
     * dto -> entity
     * @return
     */
    public static ${className} dto2Entity(${className}Dto ${classObjectName}Dto) {
        if (${classObjectName}Dto == null) {
            return null;
        }
        ${className}  ${classObjectName} =new  ${className}();
        BeanUtils.copyProperties(${classObjectName}Dto,  ${classObjectName});

        return  ${classObjectName};
    }


    /**
     * entityList -> VoList
     * @return
     */
    public static List<${className}Vo> entity2VoList(List<${className}> list) {
        if (list == null || list.size() <= 0) {
            return null;
        }
        List<${className}Vo> listVo = new ArrayList<${className}Vo>();
        for (${className} item:
                          list) {
            listVo.add(entity2Vo(item));
        }
        return listVo;
    }


    /**
   * dtoList -> EntityList
   * @return
   */
    public static List<${className}Do> dto2EntityList(List<${className}Dto> list) {
        if (list == null || list.size() <= 0) {
            return null;
        }
        List<${className}Do> listDo = new ArrayList<${className}Do>();
        for (${className}Dto dto : list) {
            listDo.add(dto2Do(dto));
        }
        return listDo;
    }

    /**
      * entityPage -> VoPage
      * @return
    */
    public static IPage<${className}Vo> entity2VoPage(IPage<${className}> page) {
        IPage<${className}Vo> vs = page.convert(item -> {
            try {
                return entity2Vo(item)
            } catch (Exception e) {
                e.printStackTrace();
            }
            return null;
        });
        return vs;
    }
}
}
