import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import org.hibernate.validator.internal.util.logging.Log_$logger;

import java.io.Serializable;

/**
 * ${comments}
 *
 * @Author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Data
public class ${className}Dto implements Serializable {
    private static final long serialVersionUID = 1l;

    #foreach($column in $columns)
        #if($column.columnName == $pk.columnName)
        @TableId
        #end
    private $column.propertyType $column.propertyName
    #end
}
