import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import org.hibernate.validator.internal.util.logging.Log_$logger;

import java.io.Serializable;

/**
 * ${comments}
 *
 * @Author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@ApiModel(value = "${comments}Dto")
public class ${className}Dto extends QueryDto {
#foreach($column in $columns)
    /**
     *  ${column.columnComment}
     */
    private $column.propertyType $column.propertyObjectName;
#end
}
