import com.baomidou.mybatisplus.annotation.TableField;

/**
 * ${comments}
 *
 * @Author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Data
@TableName("${tableName}")
public class ${className} extends BaseEntity {
#foreach($column in $columns)
    /**
    *  ${column.columnComment}
    */
    #if($column.columnName == $pk.columnName)
    @TableId
    #end
    @TableField("${column.columnName}")
    private $column.propertyType $column.propertyObjectName;
    #end
}
