/**
 * ${comments}
 *
 * @Author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode()
public class ${className}Vo extends BaseVo {
#foreach($column in $columns)
    /**
    *  ${column.columnComment}
    */
    private $column.propertyType $column.propertyObjectName;
#end
}
