<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjzhang.pro.dao.BrandDao">
    <resultMap id="BrandMap" type="com.xjzhang.pro.model.entity.Brand">
        <result property="brandId" column="brand_id"/>
        <result property="descript" column="descript"/>
        <result property="firstLetter" column="first_letter"/>
        <result property="logo" column="logo"/>
        <result property="name" column="name"/>
        <result property="showStatus" column="show_status"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <sql id="Base_OrderBy_Condition">
        <if test="brandDto.orderBy != null and brandDto.orderBy !=''">
            ORDER BY #{orderBy}
        </if>
    </sql>
    <sql id="Base_Column_List">
        brand_id,
        descript,
        first_letter,
        logo,
        name,
        show_status,
        sort
   </sql>

    <select id="queryBrandWithPage" resultType="com.xjzhang.pro.model.vo.BrandVo">
            select <include refid="Base_Column_List"/>
            from  tb_pro_brand
            <where>
                <if test="brandDto.name != null and brandDto.name != ''">
                    name like #{brandDto.name}
                </if>
                <if test="brandDto.showStatus != null and brandDto.showStatus != ''">
                    show_status = #{brandDto.showStatus}
                </if>

                <if test="brandDto.firstLetter != null and brandDto.firstLetter != ''">
                    first_letter = #{brandDto.firstLetter}
                </if>
            </where>

            <include refid="Base_OrderBy_Condition"/>
    </select>


</mapper>
